body,html{
  margin: 0px;
  height: 100%;
  background-image:linear-gradient(to bottom left,#6FD5CC,#7045D3);
  font-family: 'Didact Gothic', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
}

.navbar{ /* main navbar that directs to all other pages*/
  overflow: hidden;
  position: fixed; /* so it stays at top of page and doesnt move*/
  top: 50px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.navbar a{ /* edits the text inside the nav bar and moves the text so they are next to each other and not on top of each other*/
  float: left;
  display: block;
  color: #321473;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18pt;
}

.Co{
  margin-top: 50px;
}

.material-icons{
  font-size: 100px;
}

.Ad{
  margin-left: 50px;
  margin-top: 100px;
  margin-right: 500px;
}

.content{
  font-size: 28pt;
}

.content2{
  font-size: 18pt;
  margin-right: 300px;
}

.main{
  margin-left: 50px;
}

.img{
  height: 50%;
  width: 50%;
}

.button {
  background-color: #321473;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #6FD5CC;
}
